{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form(searchForm) }}
    {% for car in availableCars %}
        <div>
            {{ car.titre }}
            {{ car.modele }}
            {{ car.marque }}
            <img src="{{ asset('images/'~car.photo) }}" width="150">
            {{ car.prix_journalier }}
            <form action="{{ path('app_reserver',{'id':car.id}) }}" method="post">
                <input type="hidden" value="{{ dateDepart |date("d/m/Y") }}" name="dateDepart">
                <input type="hidden" value="{{ dateFin |date("d/m/Y")}}" name="dateFin">
                <input type="submit" value="reserver">
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
