<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .body {

                background-image: url('{{ asset('images/car-rental-wallpaper.jpg') }}');
                background-size: cover;
                background-position: center;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        <nav class="sticky top-0 z-10 bg-white">
            <div class="max-w-5xl mx-auto px-4">
                <div class="flex items-center justify-between h-16">
                    <h1 class="font-bold text-2xl">Location de voiture</h1>
                    <div class="flex space-x-4 text-gray-900">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <a href="{{ path('app_membre') }}">profil</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('app_vehicules') }}">membres</a>
                                <a href="{{ path('app_membres') }}">vehicules</a>

                            {% endif %}
                            <a href="{{ path('app_logout') }}">se déconnecter</a>
                            {% else %}
                                <a href="{{ path('app_connexion') }}">se connecter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="body">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
